version: '3.8'

services:
  tg-downloader:
    build: .
    container_name: tg-downloader
    ports:
      - "5000:5000"
    volumes:
      - ./downloads:/app/downloads
      - .:/app  # 映射当前目录以持久化 session 文件
    environment:
      - TG_API_ID=33900011
      - TG_API_HASH=7168171ca268ace6d8da5e2362e103d0
      - DOWNLOAD_DIR=downloads
      - SESSION_NAME=tg_downloader
    restart: unless-stopped
