blinker==1.9.0
click==8.3.1
cryptg==0.5.2
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
pyaes==1.6.1
pyasn1==0.6.2
rsa==4.9.1
Telethon==1.42.0
tqdm==4.67.3
Werkzeug==3.1.5
PySocks
